*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

/* Utilities */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  font-size: 1.8rem;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
}

h3 {
  font-size: 2.2rem;
  font-weight: 400;
}

button {
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 100;
}

span {
  color: hsl(21deg 62% 45%);
}

.section-header {
  font-size: 2.7rem;
  font-weight: 500;
  text-align: center;
  color: #102a42;
}

.btn:hover {
  cursor: pointer;
}

/* Nav */
.navbar {
  width: 90vw;
  color: white;
}

.navbar-container {
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left ul {
  display: flex;
}

.navbar ul a {
  color: white;
  font-size: 1.3rem;
  padding: 20px;
}

.nav-link {
  padding-right: 10px;
}

.navbar span i {
  color: white;
}

.cart-button {
  z-index: 100;
}

/* Hero */
.home-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/hero-image.jpeg) center/cover;
  height: 100vh;
  margin-top: -6rem;
  display: flex;
  align-items: center;
}

.hero-container {
  padding: 0 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}

.tag-line {
  font-family: 'Kaushan Script', cursive;
}

.hero-button {
  font-weight: 100;
  background: transparent;
  padding: 6px;
  width: 8rem;

  border-color: white;
}

/* Featured content */
.featured {
  padding: 80px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.featured-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.featured-products p {
  text-align: center;
}

.product-image {
  display: block;
  width: 100%;
  height: 13rem;
  border-radius: 8px;
  margin-bottom: 10px;
  object-fit: cover;
}

.product-name {
  color: hsl(210deg 22% 49%);
}

.product-price {
  color: #324d67;
}

.featured-section-button,
.sidebar-checkout-button {
  padding: 10px;
  letter-spacing: 1.5px;
  width: 12rem;
  background-color: hsl(21deg 62% 45%);
  border: none;
}

/* Pages */

/* pages nav */
.pages .nav-link a {
  color: #102a42;
}

.pages .navbar-right {
  color: #102a42;
}

.pages-hero {
  background-color: hsl(210deg 36% 96%);
  height: 20vh;
}

.pages-hero .page-title {
  color: hsl(210deg 22% 49%);
  padding: 30px 170px;
}

/* About Page */
.history {
  padding: 40px 150px;
}

.history p {
  margin: 0 auto;
  text-align: center;
  width: 100vh;
  line-height: 35px;
  color: hsl(210deg 22% 49%);
}

/* Products Page */
.search-input {
  background-color: hsl(210deg 36% 96%);
  border: none;
  height: 2rem;
  padding: 10px;
}

.products-filter li {
  padding: 6px;
}

.products-filter li,
#price-range-value {
  color: hsl(210deg 22% 49%);
}

.products-filter li h4 {
  color: #102a42;
}

.products-gallery {
  padding: 40px 150px;
  display: grid;
  grid-template-columns: 15vw 1fr;
}

/* sidebar */
.sidebar {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
  transition: transform 0.3s ease-in-out;
  opacity: 1;
  overflow: auto;
  z-index: -1;
  display: none;
}

.sidebar-content {
  width: 20vw;
  height: 98vh;
  background: white;
  border-radius: 10px;
  display: grid;
  place-content: center;
  grid-template-rows: auto 1fr auto;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;
}

.sidebar-close-button {
  position: absolute;
  top: 1rem;
  left: 2rem;
}

.show-sidebar {
  z-index: 200;
  display: block;
}

/* product controls */
.product-controls {
  position: relative;
}

.product-controls:hover > .product-controls-icons {
  display: flex;
}

.product-controls-icons {
  display: none;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  cursor: pointer;
}

#icon-background {
  background-color: hsl(21deg 62% 45%);
  border-radius: 50%;
  color: white;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-icon {
  font-size: 1.5rem;
  text-align: center;
}

.show-product-controls-icons {
  z-index: 1;
}

/* Media Queries */
@media (max-width: 1200px) {
  .featured-products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 992px) {
  .featured-products {
    grid-template-columns: repeat(1, 1fr);
  }
}
